BITBUCKET_BASE_URL=https://aolrepo.artofliving.org
BITBUCKET_TOKEN=your_bitbucket_personal_access_token
BITBUCKET_REPOS=PF/repo-one,PF/repo-two,PF/repo-three
BITBUCKET_BRANCHES=dev
BITBUCKET_BRANCH_PATTERNS=teja,PF-6703
BITBUCKET_MAX_BRANCHES=50
BITBUCKET_AUTHOR_EMAILS=teja.simma@artofliving.org
JIRA_BASE_URL=https://track.artofliving.org
JIRA_API_VERSION=2
JIRA_AUTH_TYPE=bearer
JIRA_TOKEN=
TIMESHEET_API_TOKEN=choose_a_long_random_secret
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_SERVICE_ACCOUNT_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_CALENDAR_ID=your-calendar-id@group.calendar.google.com
GOOGLE_CALENDAR_MAX_EVENTS=100
GOOGLE_CALENDAR_EVENT_LABEL=Meeting
