BITBUCKET_BASE_URL=https://aolrepo.artofliving.org
BITBUCKET_TOKEN=your_bitbucket_personal_access_token
BITBUCKET_REPOS=PF/repo-one,PF/repo-two,PF/repo-three
BITBUCKET_BRANCHES=dev
BITBUCKET_BRANCH_PATTERNS=teja,PF-6703
BITBUCKET_MAX_BRANCHES=50
BITBUCKET_AUTHOR_EMAILS=teja.simma@artofliving.org
JIRA_BASE_URL=https://track.artofliving.org
JIRA_API_VERSION=2
JIRA_AUTH_TYPE=bearer
JIRA_TOKEN=
